
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-nav">
    <a id="txtclr" class="navbar-brand" href="#">
      
      <span class="glyphicon glyphicon-education"></span> BreakingCode</a>
      <div class="vl"></div>
      &nbsp; &nbsp; &nbsp;
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="adminlogin">Login</a>
     
  </div>
</nav>






<div class="jumbotron" id="admlog">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
            <h2> 
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;LOG IN</h2><br>
 <form class="form-horizontal" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">&nbsp;Email Id:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="uid" placeholder="Email or Username" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">&nbsp;Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" routerLink="/adminhome">LOG IN</button>
                  </div>
                </div>
            </form>
            
          </div>
      </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Breaking Code
    <a href="https://mdbootstrap.com/"> Breaking Code</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->