<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-nav">
        <a id="txtclr" class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-education"></span> BreakingCode</a>
        
    </div>
</nav>



<!-- <div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
        
        <div class="fl-button-wrap fl-button-width-auto fl-button-left">
			<a routerLink="/exam" target="_self" class="fl-button" role="button"><br><br><br><br>
							<button class="button" style = "vertical-align:middle"><span class="fl-button-text">Exam</span></button>
                    </a>
                    
                    <div class="fl-module-content fl-node-content">
                        <div class="fl-button-wrap fl-button-width-auto fl-button-left">
                            <a routerLink="/user" target="_self" class="fl-button" role="button"><br><br><br>
                        <button class="button1" style = "vertical-align:middle"><span class="fl-button-text">User Login</span></button>
                                    </a>

                                    
                </div>
                    </div>
</div>

    </div>
</div>  -->


<!-- <a class="nav-item nav-link" ></a>
        <a class="nav-item nav-link" routerLink="/exam">Exam</a>
        <a class="nav-item nav-link" routerLink="userreport">Report</a> -->


    <div class="userhome_div">
        <div class="exam_div">
            <h2 id="exam_header">Skills reveal what resumes can't</h2><br/><br/>
            
        <br>
            <!-- <a routerLink="/exam" target="_self" class="fl-button" role="button"><br>
                <button class="button" style = "vertical-align:middle float-right"><span class="fl-button-text">Exam</span></button>
        </a> -->

        <a href="/exam" class="animated-button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Exam
          </a>
        </div>

        <div class="report_div">
            <h2 id="report_header"><br><br><br>Check Your Performance</h2><br/><br/>
            
            <br>
            <!-- <a routerLink="/exam" target="_self" class="fl-button" role="button"><br>
                <button class="button" style = "vertical-align:middle float-right"><span class="fl-button-text">Exam</span></button>
        </a> -->
        <!-- <p>Health Insurance has become a necessity in today’s world due to increase in the cost of medical treatment,
            advent of multispecialty hospitals with state-of-the-art facilities, equipment and availability of specialist doctors.<br/>
            Health insurance protects us from the sudden, unexpected costs of hospitalization (or other covered health
            events, like critical illnesses) which would otherwise make a major dent into household savings or even lead to
            <br>
            indebtedness. Each of us is exposed to various health hazards and medical emergency that can strike any one of
            us without any prior warning. Healthcare is increasingly expensive, with technological advances, new procedures
            <br/>
            and more effective medicines that have also driven up the costs of healthcare. While these high treatment
            expenses may be beyond the reach of many, taking the security of health insurance is much more affordable.</p><br/><br/><br/><br/><br/> -->
        <a href="/userreport" class="animated-button1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Report
          </a><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
        

        
       

        
        
        
