<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-nav">
        <a id="txtclr" class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-education"></span> BreakingCode</a>
        <!-- <a class="nav-item nav-link" ></a>
        <a class="nav-item nav-link" routerLink="/exam">Exam</a>
        <a class="nav-item nav-link" routerLink="userreport">Report</a> -->
    </div>
</nav>



<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- exam button-->
        <div class="fl-button-wrap fl-button-width-auto fl-button-left">
			<a routerLink="/exam" target="_self" class="fl-button" role="button"><br><br><br><br>
							<button class="button" style = "vertical-align:middle"><span class="fl-button-text">Exam</span></button>
                    </a>
                    
                    <div class="fl-module-content fl-node-content">
                        <div class="fl-button-wrap fl-button-width-auto fl-button-left">
                            <a routerLink="/user" target="_self" class="fl-button" role="button"><br><br><br>
                        <button class="button1" style = "vertical-align:middle"><span class="fl-button-text">User Login</span></button>
                                    </a>

                                    
                </div>
                    </div>
</div>

    </div>
</div> 