h1 {
    text-align:center;
}
div a.active {
    color: rgb(44, 44, 231);
}
.main {
    text-align: center;
    margin-top: 300px;    
}
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #0e334d;
    outline: none;
    font-size: 30px;
    font-family: "montserrat";
    margin: 10px;
}