
<!-- <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-primary" >
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adminlogin">Admin</a>
      <a class="nav-item nav-link" routerLink="/user">User</a>
  </div>
  </nav>



<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div> -->


<div class="wrapper">
  <header>
     <nav (scroll)="onWindowScroll($event);">
        <div class="menu-icon">
           <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
          <h2 class="text-center font-weight-normal">Hack For Good</h2>
        </div>
        <div class="menu">
           <ul>
              <li><a href="#">Home</a></li>
              
              <li> <a class="nav-item nav-link" routerLink="/adminlogin">Admin</a></li>
              <li><a class="nav-item nav-link" routerLink="/user">User</a></li>
              <li><a class="nav-item nav-link" routerLink="/about">About</a></li>
              <!-- <li><a href="#">About</a></li> -->
              
           </ul>
        </div>
     </nav>
     </header>
    
  <div class="content">
    <h3>Rules and Regulations</h3>
     <p>
      1. Only team entries are eligible, and team shall consist of three persons<br/>
      2. The decision of the quiz-master will be final and will not be subjected to any change.<br/>
      3. The participants shall not be allowed to use mobile or other electronic instruments.<br/>
      4. The questions shall be in the form of multiple choice, True / False statement, Specificanswer question etc.<br/>
      5. Audience/Supporters shall not give any hints or clues to the competitors.<br/>
      6. Replacement of any participant of a team is not allowed after registration
      
     </p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    
      <div class="row">
        
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
        
      </div>
    
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Break Code</h5>
        <p>OUR MISSION</p>
        <p>Accelerate the World's Innovation</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>Break Code, 2nd Floor,
              Indiqui Orion,22nd Main Rd,
              Garden Layout, Sector 4,
              HSR Layout, Bengaluru,
              Karnataka - 560102</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> breakcode04@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 91 8097678900</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Breaking Code</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

