
.l{
    background-image: url("src/assets/images/2.jpg"); 
   
    background-repeat: no-repeat;
    background-attachment: fixed; 
   
    background-position: 40% 80%;
  }

.log{
    font-style: inherit;
}
.l input{
    width: 100%;
    margin-bottom: 20px;
  }