<div class="card m-3" id="r">
    <h2 class="reg" >Search</h2>
    <div class="card-body">
        <form #Searchform="ngForm" (ngSubmit)="searchUser()">
     <div class="form-row">
        <div class="form-group col-5">
            <label for="technology">Technology</label>
            <select type="text" name="technology" size="1" class="form-control" [(ngModel)]="user.technology" #technology="ngModel" required>
                <option value="" selected="selected">Select Technology</option>
                <option *ngFor="let technology of technologies">{{ technology }}</option>
            </select>
            <!-- <div *ngIf="f.submitted && technology.invalid" class="invalid-feedback">
                <div *ngIf="technology.errors.required">Technology is required</div>
            </div> -->
        </div>
        <div class="form-group col-5">
            <label for="state">State</label>
            <select type="text" name="state" size="1" class="form-control" [(ngModel)]="user.state" ngModel #state="ngModel" required>
              <option value="" selected="selected">Select State</option>
              <option *ngFor="let state of states">{{ state }}</option>
            </select>
            <!-- <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                <div *ngIf="state.errors.required">State is required</div>
            </div> -->
        </div>
      

        <div class="form-group col-5">
            <label for="city">City</label>
            <select type="text" name="city" size="1" class="form-control"  [(ngModel)]="user.city" ngModel #city="ngModel"  required>
              <option value="" selected="selected">Select City</option>
              <option *ngFor="let city of cities">{{ city }}</option>
            </select>
            <!-- <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                <div *ngIf="city.errors.required">City is required</div>
            </div> -->
        </div>
        
       
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            &nbsp;<button class="btn btn-primary mr-1" type="submit">Submit</button> 
        </div>
        </div>
        
    </div> 
    </form>
 </div> 
    
</div>



   


    


